<link rel="stylesheet" href="app.css">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="img\logo.jpeg" id="logo"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flexbox">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="flexitem">
          <li class="nav-item"id="home">
            <a class="nav-link active" aria-current="page" href="/home" ><i class="fas fa-laptop-house"></i> Home</a>
          </li></div>

          

            <div class="flexitem">
              <li class="nav-item"id="home">
                <a class="nav-link active" aria-current="page" href="/appointment" ><i class="fas fa-laptop-house"></i>Appointments</a>
              </li></div>
          
              <div class="flexitem">
                <li class="nav-item"id="home">
                  <a class="nav-link active" aria-current="page" href="/profile" ><i class="fas fa-laptop-house"></i>Your Profile</a>
                </li></div>
            
              
          </div>
          
        </div>
        
        </ul>
      </div>
    </div>
  </nav>  