<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<link rel="stylesheet" href="Content\login.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-80520768-2" type="text/javascript"></script>
<style>
    body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("img/car2.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
<div class="hero-image">
    <div class="hero-text">
        <div class="grid">
            <form class="form login" id='login-form'>
            <div class="form__field">
            <label for="login__username"><i class="fa fa-user"></i><span class="hidden">Username</span></label>
            <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required="">
            </div>
            <div class="form__field">
            <label for="login__password"><i class="fa fa-lock"></i><span class="hidden">Password</span></label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required="">
            </div>
            <div class="form__field">
            <input type="submit" value="Login">
            </div>
            </form>
            <p class="text--center">Not a member? <a href="/register">Sign Up now</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>
            </div>
    </div>
  </div>
<script>
  
const form= document.getElementById('login-form')
form.addEventListener('submit', registerUser)
async function registerUser(event){
  
    event.preventDefault()
    const username = document.getElementById('login__username').value
    const password = document.getElementById('login__password').value
    
    
    
     const result = await fetch('/api/login',{
        method:'POST',
        headers:{
          'Content-Type':'application/json'
        },
        body: JSON.stringify({
          username, password

        })
        

    }

    ).then((res)=> res.json())
    console.log(result)
    if (result.status==='ok'){
      console.log('Got the token, ', result)

    }else{
      alert(result.error)
    }

}

</script>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
